/* Importación de fuentes de Google */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* Estilos generales */
body {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    font-family: 'PT Sans', Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #5E6472;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.menu{
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    justify-content: flex-start;
}
/* Estilos para el menú lateral */
.menu-container {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: left 0.3s;
    overflow: hidden;
    color: #5E6472;
    margin-left: auto;
}

.menu-container.closed {
    left: -250px;
}

.menu-container.open {
    left: 0;
}

.menu-button-container {
    position: absolute;
    top: 10px;
    left: 10px; 
    z-index: 1;
    transition: left 0.3s ease;
}

.open-menu {
    background: #f196b3;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: #420808;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.menu .open-menu {
    background: #f196b3;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: #420808;
    padding: 10px;
}

.menu-container .dropdown-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu-container .dropdown-content a {
    text-decoration: none;
    color: #5E6472;
    padding: 10px;
    font-size: 18px;
    transition: 0.2s;
}

.menu-container .dropdown-content a:hover {
    background: #333;
    color: #fff;
    transition: 0.2s;
}

.content {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.3s;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    background: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
} 

.sidebar.closed {
    width: 0;
}

.open-menu {
    background-color: #f196b3;
    color: #420808;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.open-menu:hover {
    background-color: #be6984;
}

.menu a {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s;
    text-align: center;
    padding: 10px;
}

.menu a:hover {
    color: rgb(243, 56, 187);
    background-color: rgba(252, 252, 252, 0.879);
}

.menu a:active {
    color: #f00;
}

.styled-input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
}

.styled-button {
    background-color: #fed6e3;
    color: #5E6472;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.styled-button:hover {
    background-color: #e895af;
}
