/* Importación de fuentes de Google */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

/* Estilos generales */
body {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 18px;
    color: #5E6472;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilos para los campos de entrada */
input {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con transparencia al 20% */
    border: 1px solid #5E6472; /* Borde de color #5E6472 */
    border-radius: 10px; /* Bordes redondos */
    padding: 10px; /* Espacio interno para el contenido */
    margin: 5px 0; /* Margen superior e inferior */
    width: 100%; /* Ancho completo */
    color: #5E6472; /* Color del texto */
}



/* Estilos para el select (rol) */
select {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con transparencia al 20% */
    border: 1px solid #5E6472; /* Borde de color #5E6472 */
    border-radius: 10px; /* Bordes redondos */
    padding: 10px; /* Espacio interno para el contenido */
    margin: 5px 0; /* Margen superior e inferior */
    width: 100%; /* Ancho completo */
    color: #5E6472; /* Color del texto */
}


/* Estilos para el formulario de administrador */
#administrador-form {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con transparencia al 20% */
    border: 4px solid #5E6472; /* Borde de color #5E6472 */
    border-radius: 10px; /* Bordes redondos */
    padding: 20px; /* Espacio interno para el contenido */
    margin: 10px 0 20px; /* Margen superior e inferior, con más margen inferior */
    width: 100%; /* Ancho completo */
    color: #5E6472; /* Color del texto */
}

#administrador-form h3 {
    font-size: 24px; /* Tamaño de fuente más grande para el título */
    margin-top: 0; /* Elimina el margen superior del título */
}

#administrador-form label {
    font-weight: bold; /* Hace que las etiquetas sean negritas xd */
}

#administrador-form input[type="text"] {
    width: 98%; /* Ancho completo */
    margin: 5px 0 10px; /* Margen superior, inferior, y espacio entre campos */
}

#admin-submit-button {
    background-color: #5E6472; /* Fondo de botón gris */
    color: white; /* Texto del botón en blanco */
    border: none; /* Sin borde en el botón */
    border-radius: 10px; /* Bordes redondos */
    padding: 10px 20px; /* Espaciado interno para el botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-top: 10px; /* Margen superior para separar del último campo de entrada */
}

.admin-container{
    position: relative;
    width: auto;
    height: auto;

}

#admin-submit-button:hover {
    background-color: #3F4254; /* Cambio de color al pasar sobre el botón */
}


/* Estilos para el formulario de alumno */
#alumno-form {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con transparencia al 20% */
    border: 4px solid #5E6472; /* Borde de color #5E6472 */
    border-radius: 10px; /* Bordes redondos */
    padding: 20px; /* Espacio interno para el contenido */
    margin: 10px 0 20px; /* Margen superior e inferior, con más margen inferior */
    width: 1000px; /* Ancho completo */
    color: #5E6472; /* Color del texto */
}

#alumno-form label {
    font-weight: bold; /* Hace que las etiquetas sean negritas */
}

#alumno-form input[type="text"],
#alumno-form input[type="date"],
#alumno-form select {
    width: 98%; /* Ancho completo */
    margin: 5px 0 10px; /* Margen superior, inferior, y espacio entre campos */
}

#alumno-submit-button {
    background-color: #5E6472; /* Fondo de botón gris */
    color: white; /* Texto del botón en blanco */
    border: none; /* Sin borde en el botón */
    border-radius: 10px; /* Bordes redondos */
    padding: 10px 20px; /* Espaciado interno para el botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-top: 10px; /* Margen superior para separar del último campo de entrada */
}

#alumno-submit-button:hover {
    background-color: #3F4254; /* Cambio de color al pasar sobre el botón */
}


/* Estilos para el formulario de profesor */
#profesor-form {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con transparencia al 20% */
    border: 4px solid #5E6472; /* Borde de color #5E6472 */
    border-radius: 10px; /* Bordes redondos */
    padding: 20px; /* Espacio interno para el contenido */
    margin: 10px 0 20px; /* Margen superior e inferior, con más margen inferior */
    width: 1000px; /* Ancho completo */
    color: #5E6472; /* Color del texto */
}

#profesor-form label {
    font-weight: bold; /* Hace que las etiquetas sean negritas */
}

#profesor-form input[type="text"] {
    width: 98%; /* Ancho completo */
    margin: 5px 0 10px; /* Margen superior, inferior, y espacio entre campos */
}

#profesor-form input[type="submit"] {
    background-color: #5E6472; /* Fondo de botón gris */
    color: white; /* Texto del botón en blanco */
    border: none; /* Sin borde en el botón */
    border-radius: 10px; /* Bordes redondos */
    padding: 10px 20px; /* Espaciado interno para el botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-top: 10px; /* Margen superior para separar del último campo de entrada */
}

#form input[type="submit"]:hover {
    background-color: #3F4254; /* Cambio de color al pasar sobre el botón */
}
#submit-button {
    background-color: #5E6472; /* Fondo de botón gris */
    color: white; /* Texto del botón en blanco */
    border: none; /* Sin borde en el botón */
    border-radius: 10px; /* Bordes redondos */
    padding: 10px 20px; /* Espaciado interno para el botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-top: 10px; /* Margen superior para separar del último campo de entrada */
}

#profesor-submit-button:hover {
    background-color: #3F4254; /* Cambio de color al pasar sobre el botón */
}


#encargado-form {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco con transparencia al 20% */
    border: 4px solid #5E6472; /* Borde de color #5E6472 */
    border-radius: 10px; /* Bordes redondos */
    padding: 20px; /* Espacio interno para el contenido */
    margin: 10px 0 20px; /* Margen superior e inferior, con más margen inferior */
    width: 1000px; /* Ancho completo */
    color: #5E6472; /* Color del texto */
}

#encargado-form label {
    font-weight: bold; /* Hace que las etiquetas sean negritas */
}

#encargado-form input[type="text"] {
    width: 98%; /* Ancho completo */
    margin: 5px 0 10px; /* Margen superior, inferior, y espacio entre campos */
}

#encargado-form input[type="submit"] {
    background-color: #5E6472; /* Fondo de botón gris */
    color: white; /* Texto del botón en blanco */
    border: none; /* Sin borde en el botón */
    border-radius: 10px; /* Bordes redondos */
    padding: 10px 20px; /* Espaciado interno para el botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-top: 10px; /* Margen superior para separar del último campo de entrada */
}

.button-link {
    display: block; /* Hace que el enlace sea un elemento de bloque */
    background-color: rgb(117, 150, 187); /* Color de fondo azul */
    color: #fff; /* Color del texto blanco */
    padding: 10px 20px; /* Espacio interno para el contenido */
    text-decoration: none; /* Quita la decoración de subrayado del enlace */
    border-radius: 10px; /* Bordes redondos */
    position: absolute; /* Coloca el elemento de forma absoluta en la página */
    left: 10px; /* Distancia desde la izquierda de la página */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    top: 25px;

}
